* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  height: 20vh;
  width: 100%;
  h2 {
    font-size: 2rem;
  }
}

section.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  p {
    font-size: 1.5rem;
  }
  div.link {
    margin: 1rem 0;
    a {
      text-decoration: none;
      cursor: pointer;
    }
  }
  form {
    text-align: center;
  }
}

div.flash {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  p {
    color: white;
    background-color: rgb(98, 146, 98);
    width: 10vw;
    text-align: center;
  }
}
